{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container portfolio">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">				
                    <img src="https://image.ibb.co/cbCMvA/logo.png" />
                </div>
            </div>	
        </div>
        <div class="bio-info">
            <!-- Alertas -->
            {% include 'parciales/_alerts.html' %}
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bio-image">
                                <img src="https://place-hold.it/273x273&text={{ empleado.first_name }}" alt="image" />
                            </div>			
                        </div>
                    </div>		
                </div>
                <div class="col-md-6">
                    <div class="bio-content">
                        <h2>{{ empleado }} | {% for p in empleado.proyectos.all %}{{ p }}{% endfor %}</h2>
                        {% if empleado.id == user.id %}
                            {% for categoria in empleado.categorias.all %}
                                <h5>{{ categoria }}</h5>
                            {% endfor %}
                        {% elif compañeros is False %}
                            {% for categoria in empleado.categorias.all %}
                                <h5>{{ categoria }}</h5>
                            {% endfor %}
                        {% else %}
                            <form action="{% url 'perfil' empleado.id %}" method="POST">
                                {% csrf_token %}
                                {% for categoria in empleado.categorias.all %}
                                    <h5>{{ categoria }}</h5>
                                    <input type="text" name="{{ categoria }}" required minlength="0" maxlength="1" size="1">
                                {% endfor %}
                                <button type="submit" value="Send" class="btn btn-primary people-btn">Enviar</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class"chart-space">
                {% if menciones %}
                    {% autoescape off %}
                        {{ plot_div }}
                    {% endautoescape %}
                {% else %}
                    <h1>Pendiente puntuación de categorias.</h1>
                {% endif %}															
                </div>
            </div>	
        </div>
    </div>

{% endblock %}